.Counter {

    text-align: center;
    width: 270px;
    border: 15px solid darkslategrey;
    margin: 25px auto;
}
.Counter button {
    margin: 15px;
    width: 60px;

}
.Counter button:hover {
    background: lawngreen;
}
.title {
    width: 250px;
    height: 80px;
    background: cadetblue;
    text-align: left;
    padding-left: 5px;
    padding-right: 15px;
}